<!DOCTYPE HTML>
<head>

</head>
<body>
    <form action="/login" method="post">
        <div>
            <label>User email: <input type="email" name="username" placeholder="Email" ></label>
            <label>User password: <input type="password" name="password" placeholder="Password"> </label>
            <input type="submit" value="Sign In"/>
        </div>
    </form>
    <a href="/registration">Registration</a>
</body>
</html>